@import 'libs/bootstrap-reboot.min';
@import 'libs/fonts';
@import 'base/animation';

.container {
    position: relative;
    max-width: 992px;
    margin: 0 auto;
} 

@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/map';
@import 'blocks/footer';
@import 'blocks/modal';

@import 'base/media';

.active {
    display: block;
}
.hide {
    display: none;
}