.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 101;
    background-color: rgba(0, 0, 0, 0.5);
    &__window {
        position: fixed;
        width: 350px;
        height: 200px;
        background-color: #fff;
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
        border: 3px solid #299fca;
        border-radius: 6px;
    }
    &__content {
        padding: 20px;
        font-family: "Colaborate";
        font-weight: 500;
        font-size: 15px;
        color: #299fca;
        text-align: center;
    }
    &__close {
        position: absolute;
        top: -31px;
        right: -45px;
        border: none;
        background: transparent;
        color: #299fca;
        font-size: 45px;
        &:focus {
            outline: none;
        }
    }
    &__title {
        margin-bottom: 15px;
    }
}